:root {
    /* Colors */
    --primary-color: #004b8c;
    --secondary-color: #ff7a7a;
    --text-color: #333333;
    --background-color: #ffffff;
    --hover-color: #f7f7f7;
  
    /* Typography */
    --font-family-primary: 'Poppins', sans-serif;
    --font-family-secondary: 'parisine-bold', 'Times New Roman';
    --font-size-base: 16px;
    --font-size-large: 1.25rem;
    --font-size-xlarge: 2rem;
  
    /* Spacing */
    --spacing-small: 10px;
    --spacing-medium: 20px;
    --spacing-large: 40px;
  
    /* Border */
    --border-radius: 6px;
  
    /* Shadows */
    --box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }