.legal-framework-container {
  padding: 20px;
  background-color: #e6f0ff;
  text-align: center;
}

h2 {
  color: #0a73b7;
}

.legal-text {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
  text-align: left;
  width: 60%;
  margin: 20px auto;
  line-height: 1.6;
  white-space: pre-wrap; /* Preserves line breaks */
  height: 525px; /* Set a constant height */
  overflow-y: auto; /* Add scroll when content exceeds the height */
}

.fetch-api-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 40px; /* Adjust padding for a smaller button */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  max-width: 300px; /* Set a maximum width */
  margin: 20px auto; /* Center the button horizontally */
  display: block; /* Ensure the button is centered */
}
