.legal-links-container {
    padding: 20px;
    background-color: #f4f7fc;
    text-align: center;
  }
  
  h2 {
    color: #0a73b7;
    margin-bottom: 30px;
  }
  
  .legal-section {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    width: 70%;
    margin: 0 auto 20px auto;
    text-align: left;
  }
  
  .legal-section h3 {
    color: #0a73b7;
    margin-bottom: 15px;
  }
  
  .legal-section ul {
    list-style-type: none;
    padding: 0;
  }
  
  .legal-section li {
    margin-bottom: 10px;
  }
  
  .legal-section a {
    color: #0a73b7;
    text-decoration: none;
  }
  
  .legal-section a:hover {
    text-decoration: underline;
  }
  